body {
    text-align: center;

    margin: 200;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: rgb(221, 238, 253);
    background-image: url("background-img.png");
}

h1{
    font-family: 'Lucida Calligraphy';
    color: rgb(221, 255, 221);
    font-size: 50px;
}

.head{
    color: aliceblue;
    /*display: flex;
    justify-content: stretch;*/
}
.head,p{
    font-size: 20px;
    font-family: 'Bookman Old Style';
}
.head,h3{
    font-size: 35;
    font-family: 'Bookman Old Style';

}

#back1{
    text-align: center;
    align-items: center;
    margin: 0px auto;
    height: 100%;
    width: 81%;
    background: linear-gradient(148deg, rgb(41, 41, 41) 65%,rgb(0, 0, 0) 65%);
    padding-left: 6%;
    padding-right: 6%;
}
.class1{
    color: antiquewhite;
}
.craft1{
    color: aquamarine;
    display: flex;
    justify-content: space-around;

}
.craft2{
    color: aquamarine;
    display: flex;
    justify-content: space-around; 
}
.che{

    background-color: black;
    background: linear-gradient(148deg, rgb(41, 41, 41) 65%,rgb(0, 0, 0) 65%);

}
.camel{

    background-color: black;
    background: linear-gradient(148deg, rgb(41, 41, 41) 65%,rgb(0, 0, 0) 65%);

}.cicada{

    background-color: black;
    background: linear-gradient(148deg, rgb(41, 41, 41) 65%,rgb(0, 0, 0) 65%);

}.panda{

    background-color: black;
    background: linear-gradient(148deg, rgb(41, 41, 41) 65%,rgb(0, 0, 0) 65%);

}.pigeon{

    background-color: black;
    background: linear-gradient(148deg, rgb(41, 41, 41) 65%,rgb(0, 0, 0) 65%);

}.teddy{

    background-color: black;
    background: linear-gradient(148deg, rgb(41, 41, 41) 65%,rgb(0, 0, 0) 65%);

}

.end{
    color: ivory;
    display: flex;
    justify-content: space-evenly;
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(93, 93, 93) 100%);
}
